
body{
	background-color:black;
		margin:0;
	padding:0;
}
#Header{

	height:250px;
	background-color:gray;
	font-size: 24px;
	font-family: papyrus;
	text-decoration: none;
	width:100%;
	margin:0;
	z-index:0;

}
#Header a{
	text-decoration: none;
	color:green;
	
}
#Content{
	background-color:white;
	margin:-30px;
	z-index:0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; 


}
#Content h1{
	padding:20px;
	
}
#Content a{
	padding:20px;
}

#Navigation ul{
	list-style: none;
}
#Navigation li{
	float:right;

}
#Navigation li a {
	
	margin:20px;
	text-decoration: none;
}
#Navigation li a:hover {
	
	background-color: blue;
}
.widthWrapper{
	position:relative;
	left:5%;
	width:90%;

}
table{
	width:80%;
	padding:20px;
	position:relative;
	left:10%;


}
th{
	text-align: left;
	background-color:gray;
	border-bottom: 1px solid black;
}
td{
	border-bottom:1px solid gray;
}
.searchInput{
	background-color:green;
	width:75%;
	height:100%;
	clear:right;
	margin:-10px;
	z-index:1;
	position:relative;
	left:10%;
		-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; 


	
}
.searchInput input{
	width:80%;
	height:20px;
	float:left;
	margin:5px;
	font-size: 15px;
}
.searchInput button{
	height:25px;
	margin:5px;
	width:100px;
}
.quoteBlock{
	border:3px dashed green;
	margin-bottom:20px;
	float:right;

}
.quoteBlock span{
	padding:5px;
	color:red;

}
.addItemForm{
	position:relative;
	right:10%;
	text-align: right;

	width:80%;
}
.addItemForm input{
	width:50%;
	
}
.addItemForm textarea{
	width:50%;
	
}
.login{
	text-align: right;
	position: relative;
	right:50%;
}

